---
// Imports de componentes
import Layout from "../layouts/Layout.astro";
import Estado from "../components/Estado.astro";
import SocialContact from "../components/SocialContact.astro";
import LinkedinIcon from "../components/Icons/LinkedInIcon.astro";
import GitHubIcon from "../components/Icons/GitHubIcon.astro";
import MailIcon from "../components/Icons/MailIcon.astro";
import Experience from "../components/Experience.astro";
import Container from "../components/Container.astro";
import JavaIcon from "../components/Icons/JavaIcon.astro";
import JavaScriptIcon from "../components/Icons/JavaScriptIcon.astro";
import CsharpIcon from "../components/Icons/CsharpIcon.astro";
import CssIcon from "../components/Icons/CssIcon.astro";
import HtmlIcon from "../components/Icons/Html5Icon.astro";
import DotNetIcon from "../components/Icons/DotNetIcon.astro";
import MySqlIcon from "../components/Icons/MySqlIcon.astro";
import SqlServerIcon from "../components/Icons/SqlServerIcon.astro";
import AstroIcon from "../components/Icons/AstroIcon.astro";
import ReactIcon from "../components/Icons/ReactIcon.astro";
import SpringIcon from "../components/Icons/SpringIcon.astro";
import GestionComercial from "../components/GestionComercial.astro";
import GestionTurnos from "../components/GestionTurnos.astro";
---

<Layout
  title="Portfolio de Tobias Romani"
  description="Desarrollo web y Escritorio"
>
  <main class="mt-10 px-4 sm:px-6 lg:px-8">
    <!-- Presentación -->
    <Container
      id="Presentacion"
      class="flex flex-col gap-4 items-center text-center sm:text-left sm:items-start"
    >
      <img
        src="/images/FotoLinkedin.jpg"
        alt="Foto de perfil"
        class="rounded-full w-24 h-24"
      />

      <h1 class="text-3xl sm:text-4xl font-bold">
        Hola, soy Tobias Romani <Estado
          ><a class="cursor-crosshair"
            href="https://www.linkedin.com/in/tobias-romani/"
            target="_blank"
            rel="noopener">✔ Disponible para Trabajar</a
          ></Estado
        >
      </h1>

      <p class="max-w-3xl pt-1 text-lg text-justify">
        <span class="font-bold text-[#070149c9]"
          >Técnico Superior en Desarrollo de Software</span
        >, con experiencia en desarrollo fullstack de páginas web y aplicaciones
        de escritorio. He trabajado en modalidad freelance, participando en
        proyectos desde el diseño hasta la implementación final.
      </p>
    </Container>

    <div class="h-px bg-gray-400 my-6"></div>

    <!-- Redes -->
    <nav class="flex flex-wrap justify-center gap-4">
      <SocialContact
        href="https://www.linkedin.com/in/tobias-romani/"
        target="_blank"
        rel="noopener"
      >
        <LinkedinIcon class="size-6" /> LinkedIn
      </SocialContact>
      <SocialContact
        href="https://github.com/tobiasR2004"
        target="_blank"
        rel="noopener"
      >
        <GitHubIcon class="size-6" /> GitHub
      </SocialContact>
      <SocialContact
        href="mailto:tobi.26romani@gmail.com"
        target="_blank"
        rel="noopener"
      >
        <MailIcon class="size-6" /> tobi.26romani@gmail.com
      </SocialContact>
    </nav>

    <div class="h-px bg-gray-400 my-6"></div>

    <!-- Experiencia -->
    <Container id="Experiencia">
      <h2 class="text-2xl font-bold text-[#000000c9] mb-2">Experiencia</h2>
      <Experience />
    </Container>

    <div class="h-px bg-gray-400 my-6"></div>

    <!-- Habilidades -->
    <Container id="Habilidades">
      <h2 class="text-2xl font-bold text-[#000000c9] mb-4">Habilidades</h2>

      <div class="grid gap-6 lg:grid-cols-3 md:grid-cols-2">
        <!-- Fortalezas -->
        <div class="p-6 rounded-lg shadow-sm dark:bg-[#101120a7]">
          <h3 class="text-xl font-bold mb-2 dark:text-[#e6e6ff]">Fortalezas</h3>
          <p class="text-gray-200 text-justify">
            Me destaco por el aprendizaje continuo, la adaptación al cambio y la
            proactividad. Tengo una fuerte motivación por comprender en
            profundidad lo que hago, no solo enfocarme en que funcione. A lo
            largo de mis experiencias, he desarrollado habilidades clave como la
            comunicación efectiva y el compromiso con cada proyecto, sin
            importar el contexto o el rol que ocupe.
          </p>
        </div>

        <!-- Habilidades técnicas -->
        <div class="p-6 rounded-lg shadow-sm dark:bg-[#101120a7]">
          <h3 class="text-xl font-bold mb-2 dark:text-[#e6e6ff]">
            Habilidades Técnicas
          </h3>
          <ul class="list-disc pl-5 text-gray-200">
            <li>Desarrollo frontend</li>
            <li>Desarrollo backend</li>
            <li>Modelado y gestión de bases de datos relacionales</li>
            <li>Office (Excel avanzado)</li>
            <li>Documentación técnica: DER, DFD, Casos de uso</li>
            <li>Ciclos de vida del software</li>
            <li>Programación orientada a objetos y a componentes</li>
          </ul>
        </div>

        <!-- Stack -->
        <div class="p-6 rounded-lg shadow-sm dark:bg-[#101120a7]">
          <h3 class="text-xl font-bold mb-2 dark:text-[#e6e6ff]">
            Stack principal
          </h3>
          <div
            class="grid grid-cols-3 my-7 sm:grid-cols-3 gap-4 justify-items-center"
          >
            <JavaIcon class="size-12" />
            <JavaScriptIcon class="size-12" />
            <MySqlIcon class="size-12" />
            <CsharpIcon class="size-12" />
            <DotNetIcon class="size-12" />
            <SqlServerIcon class="size-12" />
            <GitHubIcon class="size-12" />
            <CssIcon class="size-12" />
            <HtmlIcon class="size-12" />
          </div>
        </div>

        <!-- Tecnologías básicas -->
        <div class="p-6 rounded-lg lg:col-span-full max-w-xl mx-auto shadow-sm dark:bg-[#101120a7] mt-6">
          <h3 class="text-xl font-bold mb-4 dark:text-[#e6e6ff]">
            Conocimientos básicos
          </h3>
          <div
            class="grid grid-cols-2 sm:grid-cols-3 gap-2 justify-items-center"
          >
            <AstroIcon class="size-10" title="Astro" />
            <ReactIcon class="size-10" title="React" />
            <SpringIcon class="size-10" title="Spring" />
          </div>
        </div>
      </div>

      <div class="h-px bg-gray-400 my-6"></div>

      <!-- Proyectos -->
      <h2 class="text-2xl font-bold text-center text-[#000000c9] mb-4">
        Proyectos
      </h2>

      <Container id="Proyectos">
        <GestionComercial />
      </Container>

      <div class="h-px bg-gray-400 my-6"></div>

      <Container>
        <GestionTurnos />
      </Container>

      <div class="h-px bg-gray-400 my-6"></div>
    </Container>
  </main>
</Layout>
