---
import Layout from "../layouts/Layout.astro";
import Estado from "../components/Estado.astro";
import SocialContact from "../components/SocialContact.astro"
import LinkedinIcon from "../components/Icons/LinkedInIcon.astro"
import GitHubIcon from "../components/Icons/GitHubIcon.astro"
import MailIcon from "../components/Icons/MailIcon.astro"
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="Portfolio de Tobias Romani"
descri>
  <main class="mt-15">
    <section class="justify-center grid gap-3">
      <img
        class="mx-2.5 rounded-full w-20 h-21"
        src="/images/FotoLinkedin.jpg"
        alt=""
        class=""
      />
      <h1 class="text-4xl font-bold">
        Hola, soy Tobias Romani <Estado
          ><a
            href="https://www.linkedin.com/in/tobias-romani/"
            target="_blank"
            rel="noopener"
            >✔ Disponible para Trabajar
          </a></Estado>
      </h1>

      <p class="max-w-170 pt-1 text-1xl text-justify"><span class="font-bold text-shadow-cyan-950">
        Técnico Superior en Desarrollo de Software </span>, con experiencia en
        desarrollo fullstack de páginas web y aplicaciones de escritorio. He
        trabajado en modalidad freelance, participando en proyectos desde el
        diseño hasta la implementación final.
      </p>
    </section>

    <div class="h-px bg-gray-400 m-4"></div>

		<nav class="flex gap-2 justify-center">
			<SocialContact
			href="https://www.linkedin.com/in/tobias-romani/"
			target="_blank"
			rel="noopener">
					<LinkedinIcon class="w-6 h-6" />
						LinkedIn
			</SocialContact>

			<SocialContact
			href="https://www.linkedin.com/in/tobias-romani/"
			target="_blank"
			rel="noopener">
					<GitHubIcon class="w-6 h-6" />
            GitHub
		</SocialContact>

    <SocialContact
    href=""
    target="_blank"
    rel="noopener">
    <MailIcon class="w-6 h-6" />
      tobi.26romani@gmail.com
    </SocialContact>
		</nav>
		
    <div class="h-px bg-gray-400 m-4"></div>
  </main>
</Layout>
