
<span class="align-middle text-sm text-center origin-bottom-left inline-block text-gray-800 px-3 py-1 rounded-sm bg-[#262ecf62] max-w-65 hover:bg-[#1d205cae] hover:text-gray-300 transition delay-10 duration-200 ease-in-out hover:scale-110"><slot /></span>     