<header class="sticky top-0 z-50 bg-[#2129c246] backdrop-blur-md flex justify-center items-center max-w-4xl mx-auto py-3 rounded-b-md">
    <nav class="flex gap-4 px-6">
        <a href="#Presentacion">Presentacion</a>
        <a href="#Experiencia">Experiencia</a>
        <a href="#Habilidades">Habilidades</a>
        <a href="#Proyectos">Proyectos</a>
    </nav>
</header>