<header class="sticky top-0 z-50 bg-[#2129c246] backdrop-blur-md w-full py-3">
  <div class="max-w-4xl mx-auto px-4">
    <nav class="flex flex-wrap justify-center items-center gap-4 text-sm sm:text-base">
      <a href="#Presentacion" class="whitespace-nowrap">Presentacion</a>
      <a href="#Experiencia" class="whitespace-nowrap">Experiencia</a>
      <a href="#Habilidades" class="whitespace-nowrap">Habilidades</a>
      <a href="#Proyectos" class="whitespace-nowrap">Proyectos</a>
    </nav>
  </div>
</header>