<header class="bg-[#A09F9F] flex justify-between items-center py-3 w-screen rounded-b-md">
    <img 
    class="mx-2.5 rounded-full w-12 h-12"
    src="/images/FotoLinkedin.jpg" 
    alt=""
    class="" />
    <nav class="flex gap-4 px-6">
        <a href="/">contacto</a>
        <a href="/habilidades">Habilidades</a>
        <a href="/tecnologias">Tecnologias</a>
        <a href="/proyectos">Proyectos</a>
        <a href="/playground">Playground</a>
    </nav>
</header>