<header class="bg-[#2129c246] flex top-0 justify-center items-center max-w-4xl mx-auto py-3 rounded-b-md">
    <nav class="flex gap-4 px-6">
        <a href="/">Experiencia</a>
        <a href="/habilidades">Habilidades</a>
        <a href="/tecnologias">Tecnologias</a>
        <a href="/proyectos">Proyectos</a>
        <a href="/playground">Playground</a>
    </nav>
</header>