<header class="sticky top-0 z-50 bg-[#2129c246] backdrop-blur-md w-full py-3">
  <div class="max-w-4xl mx-auto ">
    <nav class="flex flex-wrap justify-center items-center gap-4 text-sm sm:text-base ">
      <a href="#Presentacion" class="whitespace-nowrap p-2 rounded-md cursor-crosshair hover:bg-[#2129c27b]">Presentacion</a>
      <a href="#Experiencia" class="whitespace-nowrap p-2 rounded-md cursor-crosshair hover:bg-[#2129c27b]">Experiencia</a>
      <a href="#Habilidades" class="whitespace-nowrap p-2 rounded-md cursor-crosshair hover:bg-[#2129c27b]">Habilidades</a>
      <a href="#Proyectos" class="whitespace-nowrap p-2 rounded-md cursor-crosshair hover:bg-[#2129c27b]">Proyectos</a>
    </nav>
  </div>
</header>