---
import Header from '../components/Header.astro'
import '../styles/global.css'
import '@fontsource-variable/inter';
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body class="custom-gradient">
		<div class="absolute inset-0 -z-10 h-full w-full bg-white [background:radial-gradient(125%_125%_at_50%_10%,#fff_40%,#63e_100%)]"></div>
		<Header />
		<slot />
	</body>
</html>

<style>
	html{
		font-family: 'Inter Variable', sans-serif;
		font-weight: 400;
	}
	body {
		color: #373737
		;
	}
</style>
