---
import Header from '../components/Header.astro'
import '../styles/global.css'
import '@fontsource-variable/inter';
import { FollowMouse } from '../components/FollowMouse.jsx'

interface Props{
	title: string
	description: string
}

const{ title, description } = Astro.props
---

<!doctype html>
<html lang="en" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description}>
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/favIcon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="custom-gradient">
		<FollowMouse client:load/>
		<div class="fixed inset-0 -z-10 w-full min-h-screen bg-white [background:radial-gradient(125%_125%_at_50%_10%,#fff_40%,#63e_100%)]"></div>
		<Header />
		<slot />
	</body>
</html>

<style>
	html{
		font-family: 'Inter Variable', sans-serif;
		font-weight: 400;
		cursor: none;
		scroll-padding-top: 2.5dvh;
	}
	body {
		color: #373737
		;
	}
</style>
